th{font-size:xx-large;}
    h5{font-size:medium;}
    body{background-color: rgb(117, 161, 161);}
    h2{font-size: 60px;
        padding: 20px;}
    #image{opacity: 0.5;}
    h1{padding-left: 20px;
       padding-right: 20px;}
       
/* Bottom left text */
    .text {
      position: absolute;
      
      left:10%;
      right: 10%;
      top: 80%;
      color: black;
      font-size: 40px;
      text-align: center;
      
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

/* Centered text */
    .centered {
      position: absolute;
      font-size: 40px;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
      
    }

.footer-container {
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;}

*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
   font-family: 'poppins', sans-serif;
}

.container{
   width: 100%;
   min-height: 100vh;
   background:rgb(117, 161, 161);
}

.container h2{
   color:rgb(16, 59, 35);
   font-size: 60;
   padding: 50px 0;
   text-align: center;
}


.price-row{
   width: 90%;
   max-width: 1100px;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 25px;
}

.price-column{
   background: #1f283b;
   padding: 10% 15%;
   border-radius: 10px;
   color: #fff;
   text-align: center;
}

.price-column p{
   font-size: 22px;

}

.price-column h3{
  font-size: 44px;
  margin: 20px 0 40px;
  font-weight: 500;
  
}
.price-column h3 span{
   font-size: 16px;
}

.price-column ul{
   text-align: left;
   margin: 20px 0;
   color: #b1f8b1;
   
}

.price-column ul li{
  margin: 15px 0;
}

.price-column button{
   width: 100%;
   padding: 14px 0;
   background: transparent;
   color: #fff;
   font-size: 15px;
   border: 1px solid #38682c;
   border-radius: 6px;
   margin-top: 30px;
   cursor: pointer;

}

.price-column button:hover{
  background: #38682cb4;
}

.plan-details{
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;

}

.specs{
  background: #1f283b;
  padding: 5% 5%;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.planName{
  font-size: 25px;
  text-align: left;
}

.planPrice{
  font-size: 25px;
  text-align: left;
}

.specs button{
  width: 50%;
   padding: 14px 30px;
   background: transparent;
   color: #fff;
   font-size: 15px;
   border: 1px solid #38682c;
   border-radius: 6px;
   margin-top: 30px;
   cursor: pointer;

}

.specs button:hover{
  background: #38682cb4
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
